[2020-10-20 16:23] yhsiah opened #5 "On mac, gherkin-testcafe does not work"
Tried this on my machine and another person's too.

using `gherkin-testcafe` on the cli with --help or to run tests does not work, and we get back this error:

[code]

it does work with using npx - e.g. `npx gherkin-testcafe --help`

it also works when you specify node and the specific main.js file e.g. `node node_modules/gherkin-testcafe/main.js --help`

[2020-10-22 18:57] Arthy000 commented on #5
Hello, if you want to use gherkin-testcafe without the npx part, you need to install the package globally (with the -g param)

[code]

The documentation here specifies that you should replace "testcafe" with "gherkin-testcafe".
If you check Testcafe's documentation it explicitly states that you need to install the tool globally to use testcafe instead of npx testcafe.

I will improve the documenta

[2020-10-29 16:07] yhsiah commented on #5
Great thanks, that does help 👍

[2020-10-30 07:38] combmag opened #7 "Support complex tag expressions"
Hello,

Currently gherkin supports only `AND` syntax to run specific tags. Is there a way currently to support advanced tag expressions like: `(@smoke or @ui) and (not @slow)`?

Thanks

[2020-10-30 11:35] Arthy000 commented on #7
Hello,

For your example, you can use
--tags "@smoke, @ui, ~@slow"

Basically, if you only use commas,
"@tag1, @tag2, ~@tag3, ~@tag4"
Will translate to "has tag1 OR tag2 AND NOT tag3 or tag4"

However, if you need two tags both present on your scenario, I added a AND operator a while back:
--tags "@tag1 and @tag2"
(https://github.com/kiwigrid/gherkin-testcafe/pull/57)

[2020-11-02 13:26] N-Dimitri opened #8 "Feature request: generate report json"

[2020-11-03 14:46] Arthy000 commented on #8
Hello,
The role of this repo is to allow tests to run in Testcafe, but with test definition in gherkin.
The report generation is still handled by Testcafe itself.
I encourage you to check out their documentation as they already have a JSON reporter available.

[2020-11-03 14:58] #8 closed

[2020-11-04 07:01] eisenreich opened #9 "Feature: Add used tags to the meta information"
For each scenario I add a tag to be able to exclude them in the test pipeline if some of them is flaky.

When now a error happens in the pipeline I always have to compare the whole string (name of the scenario) to find the appropriate test in the source code and retrieve the tag. If I use some variables, then it gets even harder.

What would help me a lot is, if the tags of a test case are added t

[2020-11-05 12:47] Arthy000 commented on #9
Hello,

Would it work for you if the "tags" metadata was an array instead of a string of concatenated tags ?
`[ "@TAG1", "@TAG2" ]`

[2020-11-05 15:12] eisenreich commented on #9
Hello,

if I understood the doc right, then in this object should only be a string placed:
![image](https://user-images.githubusercontent.com/12513137/98258878-ac7c4680-1f81-11eb-9112-67c0064d90ea.png)

[2020-11-05 16:12] Arthy000 commented on #9
True, my bad :D

Could you please provide an example of what you are trying to achieve, so I can test my changes?

[2020-11-05 20:39] Arthy000 commented on #5
I added a line to the readme regarding global installation

[2020-11-05 20:39] #5 closed

[2020-11-05 20:41] Arthy000 commented on #7
I made some modifications to the doc, don't hesitate to ask if you need more help

[2020-11-05 20:41] #7 closed

[2020-11-12 13:09] Arthy000 commented on #9
@eisenreich would you rather test the changes yourself? You can pull the branch and use it by changing the dependency to gherkin-testcafe in your package.json

[2020-12-17 21:55] leonleo997 opened #11 "How to integrate gherkin-testcafe?"
Hey there,
I would like to integrate sauce labs with this library, does anyone know if there is a way to do that?

Thank you

[2020-12-18 17:01] Arthy000 commented on #11
Hello,

The role of this package is just to provide a way to define testcafe scenario in gherkin.
As such, using SauceLabs with gherkin-testcafe boils down to using SauceLabs with testcafe itself.

I don't use SauceLabs myself, but from what I see there is an addon for testcafe that allows your tests to run in saucelabs:
https://github.com/DevExpress/testcafe-browser-provider-saucelabs

All you ha

[2020-12-28 15:00] leonleo997 commented on #11
Thank you, it works!

[2020-12-28 15:00] #11 closed

[2021-01-02 18:26] tmaslen opened #12 "Question / feature request"
Hiya,

This project is awesome! Thanks for building it.

Is it possible to get gherkin-testcafe to output a list of pending step definitions if they don't exist already?

Thanks,
Tom.

[2021-01-05 09:58] Arthy000 commented on #12
Hello,

Thanks :D I have to admit that at the moment I haven't done much since I inherited the project, aside from answering questions, but I appreciate :p

At the moment, not really. You'll get an error for each scenario missing at least one step, but you can only see that by running all the tests, and even then you'll only see the first step missing for each scenario.

Personally, I use VSC with

[2021-01-06 09:17] Arthy000 commented on #12
I'll give your request a try, I'll reopen if I decide to do it :)

[2021-01-07 08:21] eisenreich commented on #9
I added the changes from https://github.com/Arthy000/gherkin-testcafe/commit/08c4cd268cfbb508e8b2a151280bbe0c70cc096c manually and it works as expected.

Thank you very much and happy new year! 🎉

[2021-01-07 20:07] #9 closed

[2021-01-08 00:27] Arthy000 commented on #12
Hello again, I just finished implementing the feature :D
I'll review my code in a few days to make sure it's not too bad, in the mean time you can test the branch linked to this issue :)

[2021-01-12 07:15] eisenreich opened #14 "Missing typings for runner with Typescript missing."
Hello,

when I use the programming interface any try to add tags to the runner, typescript does not find the typing's.

[code]

[2021-01-12 15:17] Arthy000 commented on #14
Hello,

I'll see how to add them in the package as soon as I can :)

I found a way around it in my project:
[code]

Then you can use it with:
[code]

You can use this as a temporary solution until I fix this issue.

[2021-01-13 08:34] eisenreich commented on #14
Thank you alot! :-)

[2021-01-13 12:37] #12 closed

[2021-01-13 13:37] #14 closed

[2021-01-20 13:08] mworkc opened #21 "env: node\r: No such file or directory"
I'm getting this error `env: node\r: No such file or directory` on version 2.5.2 and higher.

It appears certain files are now using DOS style linefeed (CRLF) instead of LF.

To get this working on a Mac I had to convert the files in /node_modules/gherkin-testcafe to LF.

[2021-01-26 21:31] sgarfinkel opened #22 "Cucumber is deprecated (use @cucumber/cucumber instead)"
Fixing this will unfortunately require renaming any import or require to use the new package name.

[2021-01-27 11:07] Arthy000 commented on #21
Hello,

I'll try to fix this soon

[2021-01-27 11:10] Arthy000 commented on #22
Hello,

Is this a warning you get while using the package or are you just telling me?
I'm well aware that some of the dependencies in this package are outdated, but as long as it works for the latest version of TestCafé I don't think there is any need to update.

[2021-01-27 16:16] sgarfinkel commented on #22
This is a warning that all users will get whenever they install the peer dependency.

[2021-01-27 16:17] sgarfinkel opened #23 "Add a way to configure the underlying fixture"
The main use-case here is injecting [client scripts](https://devexpress.github.io/testcafe/documentation/guides/advanced-guides/inject-client-scripts.html#add-client-scripts-to-specific-tests) into the running page, which can only be done at the fixture level.

It would also allow users to configure the page used for the entire scenario via the `fixture().page()` function.

[2021-01-27 16:28] Arthy000 commented on #22
I see.
I'll try to update the dependency (the actual dependency), but I'm not sure it's even required. I'd say that the only changes that are really necessary are the peer dependency in the package.json and the documentation.

[2021-01-27 16:35] sgarfinkel commented on #22
According to the warning they changed the namespace for imports too.

[2021-01-27 17:05] Arthy000 commented on #23
The only way I see to do this is to use a [configuration file](https://devexpress.github.io/testcafe/documentation/reference/configuration-file.html)

Though I haven't tested it yet. I'll make sure it works and if it doesn't I'll try to fix it.

[2021-01-27 17:30] sgarfinkel commented on #23
That does work, however it limits what you can and can't configure. Having direct access to the fixture via a callback is definitely preferable.

[2021-01-28 09:06] Arthy000 commented on #22
I think you misunderstood, what I meant is that I do not really need to change the dependency in gherkin-testcafe:
- it is a devDependency, so it does not concern the final user
- the original package still exists, it won't be updated anymore,

=> I will update documentation and peerDependency, allowing users of this package to use the newest cucumber in their project, and will stop there at the m

[2021-01-28 09:37] Arthy000 commented on #23
Okay so I looked it up a bit, and it seems that _at best_ this will be difficult and tricky.
The reason is that this package overwrites a function (getTests) from the original TestCafe package, and in that function the fixtures are generated on the fly.
The return value of getTests will then be internally used by TestCafe so I can't access it, it's too late.

The only idea I have is to add a new A

[2021-01-28 11:11] khanh-shady commented on #23
Hi all, I too ran into this problem and configuration file did wonder for me. But TestCafe needed to be upgraded to newest version (@v1.10.2-alpha.1) and they removed the [tsConfigPath](https://devexpress.github.io/testcafe/documentation/reference/configuration-file.html#tsconfigpath) function in favour of [compilerOptions](https://devexpress.github.io/testcafe/documentation/reference/configuratio

[2021-01-28 14:49] Arthy000 commented on #23
Hello khanh-shady,
I think this request deserves its own issue :)

[2021-01-28 15:59] sgarfinkel commented on #23
@khanh-shady Definitely a different issue, however for me it does seem that the `.testcaferc.json` is being respected by the runner.

@Arthy000 Alternatively could you expose the underlying `test`? You can also inject client scripts that way.

[2021-01-28 16:01] sgarfinkel commented on #22
At runtime won't this throw an exception https://github.com/Arthy000/gherkin-testcafe/blob/develop/src/compiler.js#L6 due to the change from `require('cucumber')` becoming `require('@cucumber/cucumber')` in the new releases?

[2021-01-29 01:42] khanh-shady opened #24 "Upgrade Typescript compiler with latest Testcafe version"
Recently, TestCafe released a new version (@v1.10.2-alpha.1) and they removed the [tsConfigPath](https://devexpress.github.io/testcafe/documentation/reference/configuration-file.html#tsconfigpath) function in favour of [compilerOptions](https://devexpress.github.io/testcafe/documentation/reference/configuration-file.html#compileroptions), also they specify TypeScript option to pass into their [Typ

[2021-01-29 21:18] dskochubey opened #25 "Is it possible to see step from feature file in the report testcafe-reporter-cucumber-json"
Hi!

I have run examples from this repo, saved the result to the [testcafe-reporter-cucumber-json](https://www.npmjs.com/package/testcafe-reporter-cucumber-json) and then generate HTML report using [multiple-cucumber-html-reporter](https://www.npmjs.com/package/testcafe-reporter-cucumber-json#to-generate-the-html-report). In the json and HTML report section `steps` doesn't contain any steps from f

[2021-02-01 10:32] Arthy000 commented on #22
Well it should not, and does not from what I see when I use it.
The reason being that cucumber will only throw that warning with the latest cucumber (7.something), and the current cucumber in this package is 5.something.

[2021-02-01 10:44] Arthy000 commented on #23
Exposing the test poses the exact same issues as exposing the fixture, sadly, because they are both generated on the fly [here](https://github.com/Arthy000/gherkin-testcafe/blob/develop/src/compiler.js#L154)

Again, I'm not saying it is not possible (though it would require a lot of work) but I'm also not sure it is :(

The fact that the former maintainer of this package said it was not possible d

[2021-02-01 11:13] Arthy000 commented on #24
Hello,

I've only tested with testcafe@1.10.1 (the last stable release), however it looks like there is nothing to do on my side.
![image](https://user-images.githubusercontent.com/1800622/106451385-cb0db300-6486-11eb-9b61-26ff8abc2a9b.png)

Gherkin-testcafe does not use its own testcafe dependency, instead it requires a peer dependency; That means you are responsible for upgrading testcafe.

Do y

[2021-02-01 11:35] Arthy000 commented on #25
Hello,

I'm sorry but I can't really help you here.
This reporter was designed for TestCafe, and there are no "steps" in a TestCafe script.

From what I understand, the goal of `testcafe-reporter-cucumber-json` is not to handle cucumber tests properly (because TestCafe does not), but to output a report formatted so it can be merged with `multiple-cucumber-html-reporter`. That format includes a `st

[2021-02-02 02:50] khanh-shady commented on #24
It's in their newest version (v1.10.2-alpha.1) and I think they will upgrade it soon as in their [documents](https://devexpress.github.io/testcafe/documentation/reference/configuration-file.html#tsconfigpath) clearly stated.

[2021-02-02 08:57] Arthy000 commented on #24
tsConfigPath is
[code]

So the change you refer to is already available in 1.10.1. As shown in the screenshot, the new option is available, provided that you upgrade your TestCafe dependency.

I'm not sure what you are expecting of me here.

[2021-02-02 11:00] khanh-shady commented on #24
The new [compilerOptions](https://github.com/DevExpress/testcafe/blob/v1.10.2-alpha.1/src/compiler/compilers.js#L13) have a typescript property which is not present right now in gherkin-testcafe, so we won't be able to pass our configuration file to it.

[2021-02-02 11:32] Arthy000 commented on #24
That one?
![image](https://user-images.githubusercontent.com/1800622/106594685-be569100-6552-11eb-9218-23f970a531c2.png)

[2021-02-03 01:16] khanh-shady commented on #24
Yes!

[2021-02-03 12:59] Arthy000 commented on #24
That's weird, the only thing I had to do was upgrade testcafe (1.10.1) in my personal project (NOT gherkin-testcafe).

Gherkin-testcafe keeps most of the runner object, it just adds a few functions and modifies one. Anything else is exported as is and should work without any change in this package.

I'm not sure what I can do, but I'm willing to help you figure this out.

[2021-02-04 02:02] khanh-shady commented on #24
Sorry I didn't make my point clear enough.

In gherkin-testcafe, we have our own [compiler](https://github.com/Arthy000/gherkin-testcafe/blob/develop/src/compiler.js#L58) which received our configs to pass to testcafe [compilers](https://github.com/Arthy000/gherkin-testcafe/blob/develop/src/compiler.js#L11). But in testcafe, they clearly changed how to receive our configs as you can see [here](htt

[2021-02-04 10:47] Arthy000 commented on #24
Sorry I didn't understand the issue sooner.
Could you please try the branch linked to this issue?

[2021-02-04 13:57] Andy2003 commented on #24
I think the sollution is to change https://github.com/Arthy000/gherkin-testcafe/blob/c55e0f813f24d6461860cb36ec0e4c8fb95cadb1/src/compiler.js#L58

to
[code]

[2021-02-04 13:59] Andy2003 commented on #24
I tested the above change locally and my customized typescript compile config was successfully passed through

[2021-02-04 19:25] dskochubey commented on #25
Thank you for your explanation. So sad to hear that. That makes no sense to use Cucumber + Testcafe if there is no way to printout regular report with steps :(

[2021-02-04 21:56] Arthy000 commented on #25
I don't find having the steps in the report that important, personally, but I'm sorry if this is a deal breaker for you :(

[2021-02-04 21:56] #25 closed

[2021-02-05 01:40] khanh-shady commented on #24
This is totally correct! I have to change it like this locally to pass my config through

[2021-02-10 00:09] dskochubey opened #26 "How to share data between step definitions?"
Is there an example, how to share data between step definitions?

[2021-02-15 11:44] Arthy000 commented on #26
Hello,

Sorry I took that long to answer.
To share data between steps:
- you can use variables
[code]
**Warning**; This will only work if your steps are defined in the same .js/.ts file.
- you can use t.ctx ([test context](https://devexpress.github.io/testcafe/documentation/reference/test-api/testcontroller/ctx.html))
This is more robust as it works regardless of the organization of you test defin

[2021-02-15 17:12] dskochubey commented on #26
Thank you, @Arthy000.
I was a bit confused at the beginning because CucumberJS recommends using `World.`

It is nice that regular `t.ctx` is available to share state between steps.

[2021-02-17 16:28] #26 closed

[2021-02-23 17:05] Andy2003 commented on #24
@Arthy000 when will this bug be fixed and released?

[2021-02-25 07:28] Arthy000 commented on #24
Hello,
I'm still waiting for confirmation that my branch does the work (it's almost the change you suggested, but not identical).
I'm hoping to release a new version tomorrow if I can solve another issue.

[2021-02-25 07:31] Andy2003 commented on #24
@Arthy000 your branch will fix this issue!

[2021-02-26 13:51] #21 closed

[2021-02-26 14:00] Arthy000 commented on #24
I just published a new version that contains the fix for this issue, as well as a fix for Unix users

[2021-02-26 14:00] #24 closed

[2021-02-26 14:06] Arthy000 commented on #21
Hi @mworkc,

Sorry it took so long, but it should be alright now

[2021-03-03 17:00] thelazurite-cell commented on #23
There may be two ways of working around this, I haven't tested the second.
1. Like you say you can add it to your testcaferc file, or you could do this programmatically before you start your testruns: `runner.clientScripts([{ path: path.join(__dirname, './your-client-script.js') }]);`
2. Within your compiler class, set the t.ctx to contain your fixture and try setting your client script through th

[2021-03-03 17:10] thelazurite-cell commented on #22
Do you guys need help with upgrading the package to the newer version of cucumber? I just did this in my own personal version would be happy to help

[2021-03-04 09:20] thelazurite-cell commented on #23
So i've had a bit of a play around with this idea, and I've got it sending the context to the BeforeAll hook... unfortunately it doesn't appear to execute the client script I've provided unfortunately.

[2021-03-05 10:31] Arthy000 commented on #22
Hello,
You can submit a PR and I'll review it :)
(please use [commitizen](https://github.com/Arthy000/gherkin-testcafe#contributing) to generate your commit message, it'll generate a proper changelog and make it easier to release a newer version later on)
TBH it's not that hard, it just doesn't seem necessary, and as I'm alone maintaining this project I haven't gotten to it yet.

Thanks for offeri

[2021-03-05 10:51] Arthy000 commented on #23
Hello @thelazurite-cell

Thanks for your help. While the first idea only partially works (doesn't give access to the page() method of the fixture for instance), you may onto something with your second idea.
I'll try a few things and comment here.

[2021-03-06 19:40] thelazurite-cell commented on #22
No problem @Arthy000 :) I was stuck when I needed to upgrade my version of testcafe to 1.10, and I found this repo and it helped me out a lot, so I'd like to help out where I can to share the knowledge.

[2021-03-11 23:11] thelazurite-cell commented on #23
Hello again @Arthy000
I think I may have another possible solution to this problem, I wonder what your opinion of this may be. In my fork of the framework, it relies more on it being more config driven than passing through information from the CLI. This does have it's benefits. As an example, I can configure a tag to state whether it should be ignored or run:

[code]

possibly, this could be exten

[2021-03-11 23:29] thelazurite-cell commented on #23
Hello Again :)

I've had another idea, this kind of plays off the idea of configuration once more. I am curious what you think about this approach? @Arthy000 @sgarfinkel

Within my fork of the framework, I have set up some classes, to help pick up and read a json file which contains some information on what tags should run or be ignored, as a downside with the way I have written this the framework

[2021-03-12 18:15] Arthy000 commented on #23
Very interesting.

You would still be unable to access the fixture / test in the code, but you can at least tweak their behavior a little.

The trade off is, as you said, that you have to do a lot more work configuration-wise. If you expect the configuration to change often it implies a lot of maintenance (that is my case, so this wouldn't work for me.)

If this can be implemented without breaking

[2021-03-23 16:24] raj-balaebail opened #31 "gherkin-testcafe is running in to TypeError"
Trying to get the cucumber and testcafe integration going.

[code]

[2021-03-23 17:23] Arthy000 commented on #31
Hello @raj-balaebail,

What version of the package are you using?
What version of TestCafe did you install?
What version of Cucumber did you install?

The error you describe is typically what you get when some of the dependencies are not met.

[2021-03-23 17:42] raj-balaebail commented on #31
I was following the instructions in the main readme. I installed all peer dependencies that it was complaining against.
[code]

[2021-03-23 18:00] raj-balaebail commented on #31
PS: I can do a reinstall and clean install of all the repos if that is preferable.

[2021-03-23 18:22] Arthy000 commented on #31
Hello again,

I think I see the issue, the documentation you followed is about a version that hasn't been published yet (that's completely my fault, I set develop as the main branch but I publish/release master, I corrected that)

However the only way you got the warning you did is if you also have `cucumber` installed (as opposed to `@cucumber/cucumber`) in a version that is higher than 5.1.0

I'

[2021-03-23 18:30] #22 closed

[2021-03-23 18:34] Arthy000 commented on #31
Bumped the version to 5.0.0 as updating cucumber was a breaking change. Can you upgrade and let me know if your issue is solved?

[2021-03-23 18:53] raj-balaebail commented on #31
I still run in to the issue and I don't seem to have cucumber installed.
[code]

[2021-03-23 19:35] Arthy000 commented on #31
I created a project from scratch on my Mac, no issue :(

Your dependency tree seems a bit messed up compared to mine.
[code]

First thing to try is to rebuild your node_modules from scratch.

If that doesn't work, may I see your `package.json`?

[2021-03-23 19:48] Arthy000 commented on #31
AHA !
Found something, are your features/steps files located in a folder outside of your project?

https://github.com/kiwigrid/gherkin-testcafe/issues/45

[2021-03-23 19:49] raj-balaebail commented on #31
[code]

[2021-03-23 19:56] raj-balaebail commented on #31
My package.json is in my home directory and the tests are nested three directories within my home directory.

[2021-03-23 20:07] Arthy000 commented on #31
When you say home directory, do you mean the home directory of your project or the home directory of your user?

[2021-03-23 20:08] raj-balaebail commented on #31
User home directory

[2021-03-23 20:13] raj-balaebail commented on #31
I seem to have gotten past this error after uninstalling all copies of cucumber, gherkin, gherkin-testcafe and reinstalling it. I am running in to other errors in the code though that I will look at. Thanks for the help !!

[2021-03-23 20:15] Arthy000 commented on #31
You're welcome :)
If I were you I'd create a project directory and use local (installed without -g) versions of the packages. It will prevent interactions between packages that were installed for other reasons.

[2021-03-23 20:15] #31 closed

[2021-03-24 21:36] rkim-work opened #33 "Cannot find module from fresh install"
Hi, I am having trouble on a fresh install :

`mkdir bdd; cd bdd; yarn add gherkin-testcafe @cucumber/cucumber`
`./node_modules/.bin/gherkin-testcafe --help`

**Produces the error :**
[code]

**My dependencies :**
[code]

[code]

[code]

Any idea what's wrong?

(same thing happen on another mac)

[2021-03-24 21:40] rkim-work commented on #33
My bad, after
`yarn add testcafe`
its now working.

(Thought it was installed as dependency of gherkin-testcafe)

[2021-03-24 21:40] #33 closed

[2021-03-29 09:27] thelazurite-cell commented on #23
With TestCafe >1.13.x deprecating the `t.setPageLoadTimeout` function, it may also be worth adding a way to configure the timeouts for the feature/scenario this way too should the solution be accepted

[2021-04-01 12:22] csurfleet opened #34 "The from argument must be of type string. Recieved Undefined"
I've been really struggling with this one to get things setup, whenever I try to run a test I get this error. The internet suggests that it is due to cucumber being installed multiple times but I've confirmed that it isn't installed elsewhere on the computer, and all my config looks correct. This is my package.json

[code]

This is my feature file:
[code]
and my js file:
[code]

I get this error:

[2021-04-04 00:03] thelazurite-cell commented on #34
Hello @csurfleet,
I wasn't able to reproduce your error exactly, but when I created a new project following your steps I got the following error.

[code]

I was able to work around this by creating a folder called 'tests' and placing the feature and js files within that. I also updated the test command to:

```   "test": "gherkin-testcafe chrome tests/**/*.js tests/**/*.feature"```

Can you try th

[2021-04-06 08:13] Arthy000 commented on #34
Hello @csurfleet

Sorry I didn't answer sooner (thanks a lot @thelazurite-cell btw 😊 ).

As you said, this error is often due to an issue in dependencies/organization of the project (https://github.com/Arthy000/gherkin-testcafe/issues/31 recently)

Are you completely certain that Cucumber is not installed globally? (regardless of the version)
Also, are your tests located inside your project? (look

[2021-04-06 08:21] csurfleet commented on #34
Hey all, I found that it was due to a file path! My code was under C:\Source, but cucumber was lower-casing the S, and then complaining that the path with the upper case S didn't match the path with the lower case s, and therefore it was installed in multiple places.

I found it by just installing cucumber directly to another test project - I got a more helpful error, then moved the original proje

[2021-04-06 11:09] #34 closed

[2021-04-23 18:13] parekhkb opened #35 "Cucumber package name will be deprecated"
Cucumber.js has announced they will deprecate the `cucumber` package in favor of `@cucumber/cucumber`

When using `gherkin-testcafe` I have found that importorting `Given`, `When`, `Then` from the new package works fine, however I get TypeScript type errors when trying to use `Before` or `After`

As a workaround for now I am using both module names:
[code]

Adding this issue to get feedback on if

[2021-04-23 19:16] parekhkb commented on #35
After reviewing this no longer makes sense to me. Apologies.

[2021-04-23 19:16] #35 closed

[2021-04-26 19:53] raj-balaebail opened #36 "Overriding step definitions"
I am trying to implement an inheritance/override model where I want to have a 'generic' step definition which will be imported in and specific steps overridden as necessary.

I was able to import the step definitions from my generic file, but the override (I used the same step definition name) seems to not be overriding the step definitions.
ex:
Generic file
[code]
Specific/inherited file
[code]

[2021-04-27 08:01] Arthy000 commented on #36
Hello :)

The package will use the first matching step it finds. This means that if you want to have an overwrite system, the specific step files should be loaded before the generic step file.

`gherkin-testcafe firefox ./currentapp/steps/*.js ./global/steps/*.js ./global/*.feature`
or something like that.

I've used this system in a personal repo and it works (though I used the API, not the CLI)

[2021-04-27 13:13] raj-balaebail commented on #36
Is there a way to implement dependency injection, as I need the generic steps to be able to reference my specific page objects ? If you know of an example, that would be helpful !!

[2021-04-27 13:23] raj-balaebail commented on #36
Another problem that I am running in to is that my application has several pages that I have set up in the page object model of one class per page. If I have a common step such as click an element, I will have to implement that for every page (and make those steps distinguishable) as I need the reference to the page object in order to pull in the right selector.

This problem only manifests if I w

[2021-04-27 14:18] raj-balaebail commented on #36
I just solved this !! I will post the solution in a bit.

[2021-04-27 15:07] Arthy000 commented on #36
@raj-balaebail I'd be curious to see how you did it, because I'm not sure I completely understand the organization of your project :)

[2021-05-11 13:24] #36 closed

[2021-05-18 00:15] raj-balaebail opened #40 "step definition inheritance"
Building on https://github.com/Arthy000/gherkin-testcafe/issues/36 I had partially solved the loading order problem. However, I am running in to trouble when I try to scale it further.

Following is a simplification of the adopted structure:
[code]
For PageObjects, Page1Object and Page2Object inherit from globalObject and extend it by adding their own methods. Hence, all the elements/methods for P

[2021-05-18 00:30] raj-balaebail commented on #40
An approach that I tried, but it failed (although in theory it should work) was to load the global step as a BeforeAll in page1Step. However that didn't seem to link the steps in global step at runtime.

[2021-05-18 04:58] raj-balaebail commented on #40
Solved this issue !!
Had to create the object in t.ctx context as part of the first step in my local step and use that object in my global step.

ex: globalStep.js
[code]
and Page1Step.js
[code]

[2021-05-21 07:49] Arthy000 commented on #40
Hi @raj-balaebail

Interesting solution!
Another would be to have steps with different names (using a Scenario Outline with examples, for instance) and a common helper function that receives a parameter to change the pagemodel it uses.

[code]

[code]

As you loaded the pagemodel in the context, it is available for all the steps in your test, so I am also not sure you need your global steps to

I

[2021-05-21 15:36] raj-balaebail commented on #40
@Arthy000 For steps such as click on a button, I want to have one step (in the spirit of DRY) where we figure out the right pagemodel which has the right selectors. Our project has to deal with multitude of scale in the sense that we sell similar yet bespoke products for our clients.
ex: We have 10 clients who subscribe to 2 products on average and each product has 6 applications. There is 90% com

[2021-05-24 03:12] raj-balaebail opened #41 "Run gherkin-testcafe package in docker image"
Trying to get gherkin-testcafe working in the docker image. Is there documentation on how to get gherkin-testcafe working in a container ?

[2021-05-24 13:55] raj-balaebail commented on #41
FWIW, I do see that it can be done in an older commit.
https://github.com/Arthy000/gherkin-testcafe/commit/0d8c38c24960858d8cf3380ffcd5dfb10cbc835d#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557

[2021-05-28 14:41] raj-balaebail commented on #41
FWIW, I solved this based on the deprecated docker support.

[2021-05-31 08:04] Arthy000 commented on #40
Very nice! Thanks for clarifying. Looks like you're all good now so I'll close this issue :)

[2021-05-31 08:04] #40 closed

[2021-05-31 08:06] Arthy000 commented on #41
Sorry I didn't reply sooner, but I have very little experience with Docker anyway, I'll have to work on that one day. Can I close this issue or do you need something else?

[2021-05-31 17:43] raj-balaebail commented on #41
Feel free to close out the issue. I was in a similar boat with docker anyway. For posterity, for folks who want to see how I solved the issue, I got the package working with two different docker files. One building everything from scratch (based on the deprecated example) and one from the default rc image of TestCafe.

From Scratch :
[code]

From testcafe:rc image:
[code]

[2021-06-01 07:46] #41 closed

[2021-06-02 13:56] aslakhellesoy opened #46 "Unmaintained gherkin version"
Hi, I see you're using the [unmaintained version of gherkin](https://github.com/Arthy000/gherkin-testcafe/blob/f9a43a65802929267428f6e9fa5fbf6b20cec5e6/package.json#L48).

You should probably upgrade to `@cucumber/gherkin`

[2021-06-02 15:28] s0leris commented on #41
@raj-balaebail which docker commands did you use to build the image above and run tests on docker please.
(Sorry I have little experience in docker myself)
Also is cloning the repo really needed?

[2021-06-02 15:54] raj-balaebail commented on #41
@s0leris I built the container in my test suite repository. My (simplified) directory structure is:

- e2e-tests
  - testcafe
    - page-objects
    - screenshots
    - step-definitions
    - test-features
  - .testcaferc.json
  - docker-compose-cucumber.yml
  - DockerfileCucumber

My docker-compose-cucumber.yml file looks like:
[code]
Note in the above code, the env vars (`FILES_TO_RUN` and `PART

[2021-06-03 09:36] Arthy000 commented on #46
Hi @aslakhellesoy, thanks for the heads up, I knew my dependency was quite outdated but not that the package had been moved. I'm fixing this.

[2021-06-07 14:17] umerhamdan10 opened #48 "Feature file lines are not visible in console"
![image](https://user-images.githubusercontent.com/43927146/121032464-93ec3d00-c7ab-11eb-837b-72da68d2cdc5.png)

Only the scenario line show in the console. Is it possible to show  successfull line in console at run time?

[2021-06-08 07:40] Arthy000 commented on #48
Hello.
Sadly, that's actually testcafe showing the name of the test, not gherkin-testcafe.
To display the steps, we would need to add the whole scenario to the test name, not just the scenario title. But even then it would display the whole name at once, not successful steps when they finish running.

[2021-06-08 14:12] Arthy000 commented on #48
There may be a way to do this with a custom testcafe reporter, but that would require some modifications in this package anyway. And it would be a custom that would not be compatible with vanilla testcafe so it would need to be included in this package, and not standalone.

Console.log is more of an incomplete workaround because it would not get included if you wanted to have your report in a file

[2021-06-18 16:06] Sabou44 opened #50 "Generate *.json with cucumber steps"
Hi,

I would like to know how I can generate a *.json with cucumber steps to be used in multiple-cucumber-html-reporter like this

I my example, the current *.json have been generate with:

[code]

Thanks

![Capture](https://user-images.githubusercontent.com/59806062/122588455-67fc7180-d05f-11eb-998a-437f6d22d927.PNG)

[2021-06-22 08:06] Arthy000 commented on #50
Hi there,
This is a complicated mater :(
In testcafe there is no "step", thus no real way to detect when a step completed successfully (or not) => #48
Also, there is a TestCafe reporter that generates JSON files that are compatible with `multiple-cucumber-html-reporter`, but it won't include steps at all, for the same reason => #25

I guess implementing a tool that takes the `.feature` and outputs

[2021-06-22 09:07] Sabou44 commented on #50
Hi,

This is so sad :'(

I understand better why I hadn't managed to find an example yet.

If ever the subject motivates some people, I think I'll have to dig into it so any goodwill will be welcome ;)

[2021-06-22 10:29] Sabou44 commented on #50
Hi,

I think I found a good lead with this project I put this here for those who have the same problem:

https://github.com/alexej-strelzow/testcafe-cucumber-typescript

[2021-06-24 13:27] bartchie opened #52 "Lack of transpose function from Cucumber DataTable"
Hello,

I'm getting error when I try to use transpose function on DataTable type object from cucumber.
Property 'transpose' does not exist on type 'DataTable'.
And this is happening only in v5.0.1. When I reverted to v5.0.0, everything is ok.
I also saw, that in index.d.ts ,there is DataTable interface without transpose function, which actually exists in @cucumber/cucumber.

[2021-07-01 13:43] samplehub opened #53 "Not able to debug the automation tests with gherkin-testcafe npm ?"
Hi ,

I have created Testcafe +BDD + Typescript framework with gherkin-testcafe npm in vscode.

I am able to run the feature files with gherkin-testcafe commands but not able to debug .
https://github.com/kiwigrid/gherkin-testcafe

 Please let me know what is the config file we need to use in launch.json

This is not working for me .
https://testcafe.io/documentation/402800/recipes/debugging/visua

[2021-07-05 11:32] samplehub commented on #53
Please any reply. @Arthy000 . Thanks

[2021-07-15 09:45] Arthy000 commented on #53
Hello @samplehub,

Sorry for the delay, things have been crazy at work.

THB I've never used VSC debug, I use the debug option from TestCafe. So I'm not really an expert, but I think the "program" line might need to be adapted to target gherkin-testcafe instead, but I'm not sure at all :/

[2021-07-16 11:36] Arthy000 commented on #52
Sorry for the delay, I'll have a look

[2021-07-16 11:52] #46 closed

[2021-07-16 13:23] Arthy000 commented on #52
Hello again, I just published a new version, your issue should be solved.

[2021-07-16 13:30] #23 closed

[2021-07-16 13:33] #50 closed

[2021-07-16 13:33] #52 closed

[2021-07-29 04:52] lobmailz commented on #53
@samplehub try:

`"program": "${workspaceRoot}/node_modules/gherkin-testcafe/main.js", with no args (if you have .testcaferc.json)`

I just tried and it worked for me.

[2021-07-30 11:49] Arthy000 commented on #53
Thank you @lobmailz

[2021-08-25 06:25] csurfleet opened #63 "Before Hook does not receive TestController as parameter"
Hi, I'm using gherkin-testcafe with TypeScript and I'm running into issues with the Before hooks. I was expecting the TestController to be the parameter passed to me, but I instead receive an ITestCaseHookParameter:
![image](https://user-images.githubusercontent.com/1318832/130737437-8a217755-adaf-43e1-8bac-2e3abaf15460.png)

This type is a pure Cucumber type, so there is no way of getting from he

[2021-08-25 07:36] csurfleet commented on #63
I discovered that I can import the const 't' from TestCafe and use that from my hook without it needing to be passed to me. Is this just a case of updating the readme to reflect this?

[2021-09-20 14:03] Arthy000 commented on #63
This issue should have been fixed by [this commit](https://github.com/Arthy000/gherkin-testcafe/pull/37/commits/8401669b5f6451932cef91af023d2605781fa766)
Make sure you are using an up-to-date version of the package (version 5.0.1 or higher)

Closing this issue as it received no answer for a while, feel free to reopen it.

[2021-09-20 14:03] #63 closed

[2021-09-29 09:20] #53 closed

[2021-11-25 14:39] d4niloArantes opened #64 "Support for Doc String type"
Hi! I couldn't find any news about this subject. I did find this [issue](https://github.com/kiwigrid/gherkin-testcafe/issues/51) and this [PR](https://github.com/kiwigrid/gherkin-testcafe/pull/69) in the archived repository but no results.

It still returning null when I try something like
[code]

[2021-11-26 08:14] Arthy000 commented on #64
Hi @d4niloArantes,
I'll have a look :D

[2021-11-26 09:42] Arthy000 commented on #64
Hello again!
Looks like it's done, actually:
The first argument of your function is the TestController.
The second argument is the array containing the parameters from your feature.
The third argument is the data table (that's what's `null` in your example)
The fourth argument is the doc string :D

[code]
[code]

[2021-11-26 14:56] d4niloArantes commented on #64
Thank you so much @Arthy000. I was using the `4.0.0` version and it only works for `5.0.0` or above.
Could you add this examples in the examples folder please?

[code]

[code]

While I was updating my Cucumber and gherkin-testcafe versions, I faced several problems and the versions that worked were:
[code]

[2021-11-30 08:04] Arthy000 commented on #64
I was planning to add an example, thanks for providing it :)
Regarding the dependencies of your projet, I'd advise to upgrade to the latest version of this package (5.1.0) and upgrade TestCafe itself to match the version required by gherkin-testcafe (>= 1.15.2)

[2021-12-23 11:17] kmrozConfigit commented on #48
Hi, could you expline morem how to use this snipped and get at least text of steps ?

[2021-12-27 19:24] kmrozConfigit commented on #48
Hi, could you explain more, how to use this snipped and get at least text of steps ?

[2022-01-31 17:16] GregorBiswanger opened #67 "TypeError: The "from" argument must be of type string."
Hi there,

I set up a new project and installed the following DevDependencies:

[code]

I have the test code and feature file in the `e2e` folder.

Unfortunately, when I run it, I get the following error message:

[code]

None of this is installed globally.

[2022-02-18 11:19] jcroma opened #73 "Run tests via Scenario name"
Hello there! It is more like question instead of issue.
Since `gherkin-testcafe` is working on cucumberJS and cucumberJS allows to run only specific `Scenario` by adding line of scenario to runner will be that possible in gherkin-testcafe in future ?
Adding cucumberJS syntax example: https://github.com/cucumber/cucumber-js/blob/v3.0.1/features/target_specific_scenarios_by_line.feature
And also:
ht

[2022-02-23 10:37] Arthy000 commented on #73
Hey @jcroma,
I had no idea this feature even existed, I'll look into it.

I have to be honest though, I don't see how this is better than filtering by name of the scenario (which is a feature that's already available through TestCafe's test filtering)
![image](https://user-images.githubusercontent.com/1800622/155302499-7bf06ec8-84a9-47ae-b233-c3f5458af243.png)
(this is the output of `gherkin-testc

[2022-02-23 10:38] Arthy000 commented on #67
Closing this, feel free to reopen if needed

[2022-02-23 10:38] #67 closed

[2022-02-23 10:39] #64 closed

[2022-03-23 10:08] kabomi opened #74 "Set httpAuth credentials inside a Before hook is not possible. Cannot access current TestFn"
First, thank you for your awesome work 💯

The documentation says that in the Before hook I can access to the TestController (testcafe):
[code]
I need to set `httpAuth` credentials. When I try to set them on the Before hook, I get a typescript error:
`Property 'httpAuth' does not exist on type 'ITestCaseHookParameter'.`

Any ideas on how can I set the `httpAuth` credentials?

I'm thinking of being

[2022-04-20 07:30] kabomi commented on #74
I've taken a further look and it does not make sense what I suggested. I will open a new ticket.

[2022-04-20 07:30] #74 closed

[2022-04-20 07:59] kabomi opened #76 "Access a page under basic Auth"
Hi all,

I need to access a page that's behind basic auth. So I have to set httpAuth credentials probably at [fixture level](https://testcafe.io/documentation/402781/reference/test-api/fixture/httpauth)

But, I couldn't find a command line argument that I could pass on for that purpose.
Any ideas on how can I set the httpAuth credentials?

In the meantime, I'm going to give it a try with a [proxy

[2022-04-22 12:16] Arthy000 commented on #76
Hi @kabomi
I'm very sorry about the long delay (regarding your other ticket that you closed), I was travelling abroad and wasn't really paying attention to my emails.

I could easily add the ability to use command line to authenticate, something like
[code]

However, that would make writing your command line pretty annoying (even if you only use the mandatory ones).
So a better option is to use a

[2022-05-09 13:31] mokone91 opened #77 "@cucumber/cucumber@8 not supported"
Hi!

Seems @cucumber/cucumber@8 not supported yet, did you plan to handle this update?

Thanks!

[2022-05-10 11:26] Arthy000 commented on #77
Hi @mokone91

I didn't know version 8 was released.
It's been updated a few times already so when it looks stable I'll handle it.

Do you need it soon?

[2022-05-10 12:25] mokone91 commented on #77
Thanks for quick respose! I'll wait as long as it takes) we happy to use @7 while it supported.
I will keep issue subscrioption if you do not close it)

[2022-05-11 13:52] kabomi commented on #76
Hi @Arthy000
Now I have to apologize too, sorry my lack of response!

My use case is: A fixture with only one set of credentials, other fixtures that does not need them.
So, your idea with the json file would be sufficient.

Another idea could be to generate a file for every .feature file that needs credentials, like:
- For a file named `stage.feature` creating a file with name `stage.credentials`

[2022-05-14 21:02] Arthy000 commented on #76
Hi @kabomi

I like that file idea, I'll try it tomorrow but I think it shouldn't be too hard

[2022-05-15 00:02] #73 closed

[2022-05-15 21:08] Arthy000 commented on #76
@kabomi just pushed a branch with the changes as discussed. You can check the example I added. I'll leave you a few days to try it if you want. Merge and publish are coming but I still need to write some documentation :D

[2022-05-16 09:26] kabomi commented on #76
Cool @Arthy000 I will test it and give you feedback. Awesome!

[2022-05-18 14:04] Arthy000 opened #80 "Typo(s) in doc"
Review all doc to find typos: `end-to-end test fo websites` for instance

[2022-05-23 10:18] kabomi commented on #76
Hey @Arthy000,
I had some holidays last week. I'd test it and IMO it works perfectly. Thanks for your efforts!

[2022-05-24 08:44] #76 closed

[2022-05-30 13:46] kel666 commented on #34
Hi
I'm experiencing the same exact issue, which is strange since my deps should be correct:

[code]

My only global packkage installed is yarn.
Any idea of what it could be?

Tnx a lot
Fabio

[2022-05-30 20:06] Arthy000 commented on #34
Hi @kel666

Could you try to downgrade TestCafe to 1.18.6?
I haven't tried version 1.19.0 as it was only released 4 days ago.

It might not be the reason you get this issue though, so if using TC 1.18.6 is not possible or doesn't solve the issue, don't hesitate to open a new issue :)

[2022-05-31 10:21] kel666 opened #85 "The "from" argument must be of type string. Received undefined"
After upgrading testcafe, gherkin-testcafe and cucumber, I'm getting this error when running tests:

[code]
Here's my package.json:

[code]

Any help will be appreciated.
Fabio

[2022-06-01 06:17] Arthy000 commented on #85
Hi @kel666

First thing first, did you remove `@cucumber/cucumber-expressions` from your project or is it an oversight when you copy pasted?

I'll work on your issue later today :)

[2022-06-01 06:31] kel666 commented on #85
I removed it since I don't use it... I added it just as an attempt to see it would have fixed the issue.
Tnx a lot for your help

[2022-06-01 08:49] Arthy000 commented on #85
Hello again, another possible source for your issue is that you have a mix between / and \ in the source paths in your command:
[code]

Working with bash, I always tend to use the / (unix path) instead of \; not really sure if PowerShell will have issue with either (I havent tried to reproduce the issue yet, I'm just trying to remove any source of error outside of the code)

[2022-06-01 13:54] #80 closed

[2022-06-01 15:26] kel666 commented on #85
Tried both

npx gherkin-testcafe --skip-js-errors --compiler-options typescript.options.esModuleInterop=true chrome .\src\e2etest\**\*.ts .\src\e2etest\createProduct.feature
npx gherkin-testcafe --skip-js-errors --compiler-options typescript.options.esModuleInterop=true chrome ./src/e2etest/**/*.ts ./src/e2etest/createProduct.feature

but the error remains the same

[2022-06-01 17:56] Arthy000 commented on #85
Just tried with the exact same dependencies, works like a charm :/
I defined a script in my `package.json`:
[code]
Then when running it:
[code]
(one test is failing because I didn't provide a custom typing file)

Could you please try to do the following:
1. Create a separate folder named `examples`
2. Create `google.ts` and `google.feature` in there
3. Copy the content from this repository `./exam

[2022-06-01 19:15] #77 closed, assigned to nobody

[2022-06-02 07:39] Arthy000 commented on #48
hello @umerhamdan10
IDK if you are still interested but I finally started working on this yesterday, and the results are promising.

[2022-06-03 11:55] kabomi commented on #85
Hi,

I had also that problem with v5.3.1.
An update of package.json dependency to @cucumber/cucumber: "8.2.2" was necessary.
When I did, it didn't workout well. But after removing node_modules and executing yarn again, the problem got solved.
I hope my experience can help you. I don't think that you can still use @cucumber v7 in your dependencies anymore.

Greetings

[2022-06-03 19:14] Arthy000 commented on #85
That might be it, but if I remember correctly the cucumber peer dependency was still 7 when I released 5.3, I only updated it for 5.3.1

[2022-06-04 12:51] Arthy000 commented on #48
New version 5.4 released, includes 3 custom reporters (`gtc-reporter-spec`, `gtc-reporter-list` and `gtc-reporter-minimal`)
=> `gtc-reporter-spec` is used by default so if you didn't explicitly set a reporter you'll get the new behavior as soon as you update.

Steps and the index of the failed step are included in the metadata, so you can create/adapt your own reporter to display the steps informa

[2022-06-04 12:51] #48 closed

[2022-06-07 10:05] kel666 commented on #85
Hellp Arthy, I tried with google example but still having same issue:

[code]

Following you can find my npm deps global and local, which looks good to me:

global
[code]

local (depth 1)
[code]

[2022-06-07 12:03] Arthy000 commented on #85
Very weird. Have you tried deleting your node_modules and reinstalling from scratch like Kabomi did?

[2022-06-07 13:07] kabomi opened #89 "New Gherkin reporter throwing Exception "Cannot read property 'concat' of undefined""
Hi @Arthy000,

I'm trying to use your new reporters and I'm not able to make them to work.

<img width="677" alt="grafik" src="https://user-images.githubusercontent.com/3160460/172380860-df12c2d2-3724-426e-9ac6-8c06dae32ac9.png">

It looks like this line is failing across several report files (e.g. gtc-reporter-list.js:75):
[code]

As you can see on the Screenshot, I'm printing the content of meta

[2022-06-07 14:27] kel666 commented on #85
I updated gherkin-testcafe to 5.4.0 and cucumber to 8.2.2, delete node_modules, and it worked! Tnx a lot!

But I noticed a strange behaviour when testcontroller fails waiting for some DOM, I receive this error:

[code]

I remember the before these package updates the error reported me the step line of code where the error occurred, which was very useful.
Any idea about this?

tnx
Fabio

[2022-06-07 14:56] Arthy000 commented on #85
Yeah it should still work, 5.4.0 contains a brand new feature that I just added. I tested it but my test cases are limited, so it's probably a bug in the new reporter. You can work around it by using `-r spec` if you use the CLI or by using `runner.reporter("spec")` if you use the API

[2022-06-07 15:16] kel666 commented on #85
Tnx for the hint.

The failing steps is on a typeText for a DOM not found:

[code]

[2022-06-07 16:50] Arthy000 commented on #85
Could you provide me with a small example where you can reproduce the `TypeError: Cannot read property 'concat' of undefined` issue?
From what I've seen in cucumber code, the reporter should most of the time receive "Context", "Action" or "Outcome" as a step type.
The only other possible value is "Unknown" but that would mean something is going on with your feature file that I have never encounter

[2022-06-07 16:51] ngencokamin opened #90 "gtc-reporter-spec.js attempts to reassign const"
Testcafe in docker started breaking with latest version, error:

[code]

Looks like the issue comes from here [here](https://github.com/Arthy000/gherkin-testcafe/blob/ebc299e5804a1c3b06986ca7956e29d9a232cf97/src/reporters/gtc-reporter-spec.js#L62-L68), it seems `title` is initialized as a const, and then there is an attempt to change the value. I see a similar block in the testcafe-reporter-spec r

[2022-06-08 05:59] Arthy000 commented on #89
Hi @kabomi
You are the second one to get this but I don't see how it could be, because the `type` value comes straight from the gherkin compiler provided by Cucumber.

Could you show me your Feature file too? Maybe there's something there.

Meanwhile you can use `spec` instead of the custom reporter by setting `-r spec` in the CLI (or `runner.reporter("spec")` if you're using the API)

[2022-06-08 06:01] Arthy000 commented on #90
Hi @ngencokamin
Thanks for the report, I'll fix it right away.

[2022-06-08 06:43] Arthy000 commented on #89
The new version I just released will fix the issue, but you will have no information about the type of step because the gherkin compiler returns undefined, so I'm keeping this ticket open to investigate that

[2022-06-08 06:44] Arthy000 commented on #90
Can you try the version 5.4.1 and confirm whether it works?

[2022-06-08 06:51] Arthy000 commented on #85
As the original issue is resolved, I'll close this thread.
Another issue (#89) has been opened with exactly the same problem so feel free to follow and comment there instead :)

[2022-06-08 06:51] #85 closed

[2022-06-08 07:34] Arthy000 commented on #89
Forgot to add the fix to all the reporters, so version 5.4.2 it is

[2022-06-08 15:07] ngencokamin commented on #90
Seems to have resolved the issue, tysm for the quick fix! :D

[2022-06-08 15:16] #90 closed

[2022-06-09 10:34] kabomi commented on #89
I tested version 5.4.2 and now it works 👍
<img width="913" alt="grafik" src="https://user-images.githubusercontent.com/3160460/172827301-4ecdfa5d-1d16-49eb-a3a7-424b6a958c20.png">

P.S. It looks that there is a break-line missing between the Feature description and the first step description

[2022-06-09 11:52] Arthy000 commented on #89
Indeed, will fix that in next version

[2022-06-16 15:34] #89 closed, assigned to nobody

[2022-06-21 10:48] stumueller opened #93 "Unable to update to gherkin-testcafe@5.4.3"
currently running gherkin-testcafe@5.2.0

when I try and do npm install gherkin-testcafe@5.4.3 I get an error:

[code]

[2022-06-22 08:17] #93 closed

[2022-07-12 09:19] csurfleet opened #94 "Newest working combination of NPM packages"
I've currently got my project at these package versions:
gherkin-testcafe: ^5.0.0
testcafe: ^1.13.0
cucumber/cucumber: ^7.0.0

At this version everything works, but I can't find any later versions of the packages which do not give me this error:
`The "from" argument must be of type string. Received undefined`

I've tried updating all packages to their latest, and I've tried upping individual ones

[2022-07-12 20:39] Arthy000 commented on #94
Hi @csurfleet,

I've thought of creating a compatibility matrix, but recently I felt like properly maintaining the peer dependencies was easier.
If you use yarn, it'll raise warnings as soon as one of those dependencies isn't properly matched. IDK if NPM does the same though.

At the moment, the current version (5.4.3) has the following:
[code]
This had been tested at the time of publication.

Swi

[2022-07-13 06:33] csurfleet commented on #94
Thanks Arthy! Thats worked for me now. I'll have a look at moving from npm to yarn if it will help with package synching thanks for the tip :)

[2022-07-13 09:50] #94 closed

[2022-07-20 13:24] CameronSabuda opened #95 "Quotes in parameters in step definition"
On a project that I work on, we have been wrapping the parameters in our step definitions in double quotes so that they are more obvious when written in our feature files like this:
[code]

However, when the parameter has double quotes in it, it fails to find the step definition despite it still matching the regex in the step definition.

Step definition:
[code]

Feature file:
[code]

Output:
[cod

[2022-07-21 04:42] Arthy000 commented on #95
Hi @CameronSabuda,

I tried several things, including copypasting your example, however I can't reproduce the behavior you described.

Feature file:
[code]
Step file:
[code]
Output:
[code]
Everything seems to match as expected.

Could you tell me which version of cucumber and gherkin-testcafe you are using?

_On a personal note, I find that using nested double quotes is not really helping readabil

[2022-07-25 11:29] jcroma opened #96 "[QUESTION] Receive list of files that are going to be executed"
Hi there!
I'm wondering if there is a possibility to receive list of gherkin files path that are going to be executed ? Just want to update status of them to 3rd party and I catch case when I execute command with only tags

[2022-07-26 06:11] Arthy000 commented on #96
Hello there!
As of now the closest you can get from the list of gherkin files is using the argument --dry-run (CLI) or the method runner.dryRun() (API).

It will return something like this:
[code]

That's probably not exactly what you want, but hopefully it's close enough.

Otherwise, the easiest option is probably to use the parameter you gave gherkin-testcafe and use OS commands to retreive the

[2022-07-26 12:09] jcroma commented on #96
Well, as you said, I'm going to use regex path for tests that I'm passing to launch tests and search files if they have chosen tag or not :)
Thanks for response, I'm going to close that issue.

[2022-07-26 12:09] #96 closed

[2022-07-27 10:13] CameronSabuda commented on #95
Interesting, I've just tried it all again and now it all works perfectly 😅

We recently did a bunch of package updates so I assume one of the packages somewhere was updated and may have fixed this bug? Not sure, but I don't believe it's an issue anymore and I'm sorry to have wasted your time! But thank you for taking the time to investigate.

In regards to your final question, the reason we had ch

[2022-07-27 10:13] #95 closed

[2022-07-27 11:33] Arthy000 commented on #95
No worries, and no time wasted 😄

[2022-07-29 11:59] eroetman opened #97 "Error when running gherkin-testcafe 5.4.3. with testcafe 1.20"
After updating both testcafé (1.20) and gherkin-testcafe (5.4.3) the following error is thrown when starting a test:

`TypeError: Cannot destructure property 'isCompilerServiceMode' of 'undefined' as it is undefined.
    at new APIBasedTestFileCompilerBase (/Users/workspace/vens/vens-test-tools-testcafe/node_modules/testcafe/src/compiler/test-file/api-based.js:32:20)
    at new ESNextTestFileCompi

[2022-08-03 09:42] rian-777 opened #99 "Possibility to save the gherkin keywords (Given/When/Then/And etc..) to the meta information"
Hi @Arthy000 ,

I was wondering if it would be possible to save the gherkin keywords as well to the test meta in addition to type & text ?

I see that the keyword information is already available in the gherkinDocument and if it could be saved to the meta, it would help with custom reporter implementations without the additional keyword handle code.

[2022-08-03 12:19] mokone91 commented on #97
same error(

[2022-08-05 14:01] Arthy000 commented on #97
Hello @eroetman & @mokone91
I've finally reviewed the PR, and made a few additional requests.
Once that's done, I'll validate it.

I'll publish it right away so you can start using version 1.20 of TestCafe immediately.

[2022-08-05 21:55] Arthy000 commented on #99
Hello @rian-777

I wanted to do that at first, using the keyword type wasn't my first choice.
However when you look at the pickle object provided by Cucumber for each scenario:
[code]
you can see that the keywork itself is in fact not present.

[2022-08-06 07:04] rian-777 commented on #99
Hi @Arthy000, thank you for the response as well as for this amazing project.

At the time of opening this issue, my initial thought process was to replace the existing forEach,  to loop through the gherkinDocument.feature.children for every scenario so that it would have the keyword information as well.

But, on more tests, I found that my approach caused a problem when the scenario has a backgro

[2022-08-06 08:30] Arthy000 commented on #99
@rian-777 I'll look I to it, thanks for the investigation :)

[2022-08-06 08:33] Arthy000 commented on #99
@rian-777 I'll look I to it, thanks for the investigation :)

[2022-08-11 12:56] rian-777 commented on #99
Hi @Arthy000 , Just checking in,  if you were able to take a look into this suggestion.

I had done some tests locally using the comparison logic mentioned in my previous comment - step.astNodeIds[0] in the pickle vs step.id in children.background.step / children.scenario.step and it is indeed possible to get information as needed, not sure of the code performance aspect though as I am pretty new

[2022-08-15 16:24] eroetman commented on #97
Hi, when do you plan to release this patch?

[2022-08-15 16:37] Arthy000 commented on #97
Hi @eroetman, I'm so sorry, I've been super busy lately and I completely forgot, doing it now

[2022-08-15 20:13] eroetman commented on #97
Thanks!

[2022-08-16 06:57] Arthy000 commented on #97
Version 5.4.4 has been released, supports TestCafe 1.20
To keep using TC 1.19, don't update

[2022-08-16 06:57] #97 closed

[2022-08-16 07:00] Arthy000 commented on #99
Hi @rian-777, I had a very busy week, I'm going to work on this in the next few days, I'll keep you posted.

[2022-08-23 12:28] Arthy000 commented on #99
Hi, I've made progress, I'm just trying to figure out an efficient way to handle background steps now, once that's done I'll addapt the existing reporters to showcase how to use it

[2022-08-24 22:59] Arthy000 commented on #99
Hello @rian-777
I've just created a [new branch](https://github.com/Arthy000/gherkin-testcafe/tree/feature/add-step-keywords-metadata), could you check if it matches your expectations?

[2022-08-26 13:01] Rinu-EYGit commented on #99
Hi @Arthy000 , the recent changes that you have added is exactly the information that I wanted, in the test meta :)

Regarding the name property, I am in agreement with what you have mentioned. Since we have the prefix, keyword and text information are now in the meta, we can make use of these as needed while implementing custom reporter packages.

Thanks for considering this suggestion and the qu

[2022-08-26 17:42] rian-777 commented on #99
Hi @Arthy000 , the latest changes are exactly the information that I was looking for in test meta :)

I also agree regarding your comments on the name prop, which was basically a  'nice to have'. Since, we have the prefix, keyword and text information already in place, the customization within reporters can be taken care as per requirement.

Thanks for implementing this suggestion and the quick tu

[2022-09-16 10:26] Arthy000 commented on #99
Published in version 5.5.0

[2022-09-16 10:26] #99 closed

[2022-09-21 08:25] arondilbe opened #103 "Missing Chalk dependency"
The package uses chalk but doesn't have it in its dependencies. It causes some incompatibilty if the project importing gherkin-testcafe uses chalk 5.0.1 (and maybe previous versions).

I managed to get it to work again by adding :
`"chalk": "4.1.2",` into the dependencies of the package.

[2022-11-10 15:14] kel666 opened #104 "Error generating report"
Any of the gherkin-testcafe reporter:

gtc-reporter-list
gtc-reporter-minimal
gtc-reporter-spec

are going in error:
` !ERROR The "reportTestDone" method of the "gtc-reporter-minimal" reporter produced an uncaught error. Error details:
TypeError: Cannot read property 'concat' of undefined
    at C:\git\USP.Commodity.UI\node_modules\gherkin-testcafe\src\reporters\gtc-reporter-minimal.js:69:42`

Wha

[2022-11-11 10:36] Arthy000 commented on #104
Hi @kel666
Could you please have a look at #89? I think you are experiencing the same issue

[2022-11-11 11:05] Arthy000 commented on #103
Fix available in 5.5.1

[2022-11-11 11:05] #103 closed

[2022-11-11 11:12] kel666 commented on #104
Tnx for the quick reply.

I updated to 5.4.4 but now I have this:

`C:\git\USP.Commodity.UI>npx gherkin-testcafe --skip-js-errors --compiler-options typescript.options.esModuleInterop=true chrome --reporter gtc-reporter-list src/e2etest/**/*.ts src\e2etest\bookingBullet.feature
ERROR Cannot prepare tests due to the following error:

TypeError [ERR_INVALID_ARG_TYPE]: The "from" argument must be of

[2022-11-11 11:25] Arthy000 commented on #104
Did you make sure to match the peer dependencies?
"peerDependencies": {
    "@cucumber/cucumber": "^8.0.0",
    "@cucumber/cucumber-expressions": "^15.0.0",
    "testcafe": "~1.20.0"
},

If updating to TestCafe 1.20 is a deal breaker for you, you can downgrade this package to version 5.4.3 which is compatible with TestCafe 1.18

[2022-11-11 11:54] kel666 commented on #104
Same error specifying deps you suggested.

Anyway I tried with 5,4,3 and it's working!

tnx
Fabio

[2022-11-21 10:38] mokone91 opened #105 "Load config when tags used"
Hi! I need to split my test by tags, but i noticed that if i want to use tags - i should provide browser name and tests path also, even if its configured in .testcaferc

I have just regular test command:
package.json
[code]

 So i want to tag all my tests with 'v1' and then add:
 package.json
[code]
But i getting
`
ERROR Cannot find the browser. "--tags" is neither a known browser alias, nor a pat

[2022-11-23 08:22] Arthy000 commented on #105
Hi @mokone91, I'll have a look

[2022-11-24 14:28] secilkaplan opened #106 "how to skip scenario using hook"
Hi, this is more of a question..
I want some of my scenarios to still show in the report with Skipped tag.  My goal is to tag them with for example @Skip and in certain conditions defined in Before hook skip running the whole steps of the scenario but still show the name in my report.

I tried using TestCafe's test.skip function which did not work. I'm only able to manipulate the status by doing `

[2022-11-24 21:12] Arthy000 commented on #106
Hi @secilkaplan,

Skipping tests programatically (from the hooks for instance) has been asked many time to TestCafe's developers. Until now, to the extend of my knowledge, it hasn't been done.
The only way to skip a test is to access the test object and use the skip method (and that's not great because hardcoded), but gherkin-testcafe doesn't expose the test object in the first place because of ho

[2022-11-28 09:46] secilkaplan commented on #106
Hi @Arthy000 , thank you for the information and ideas.

[2022-11-28 21:36] #106 closed